.header {
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 20px;
  height: 20px;
}

h1 {
  font-size: 18px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

nav a:hover {
  color: #007bff;
}

.search-wrapper {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
  max-width: 300px;
  background-color: #ececec;
}

.search-icon {
  margin-right: 8px;
  color: #888;
}

.search-input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  background-color: #ececec;
  color: #000;
}


.search-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: white;
}

.search-title {
  font-size: 20px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: 500;
}

.book-list {
  display: flex;
  flex-direction: column;
}

.book-item {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background 0.2s;
}

.book-item:hover {
  background: #f7f7f7;
}

.book-image {
  width: 48px;
  height: 64px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 16px;
}

.book-info {
  flex: 1;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.book-title {
  font-size: 14px;
  font-weight: 540;
  color: #111;
}

.book-author {
  font-size: 14px;
  color: #666;
  margin-top: 2px;
}

.book-status {
  font-size: 12px;
  color: #888;
  margin-top: 4px;
}

.book-arrow {
  font-size: 20px;
  color: #bbb;
}
.book-card {
  width: 160px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  border-radius: 8px;
  padding: 8px;
  transition: background-color 0.2s ease;
}

.book-card:hover {
  background-color: #f0f0f0; /* cinza clarinho no hover */
}

.book-card-image {
  width: 100%;
  border-radius: 8px;
}

.book-card-title {
  font-size: 16px;
  margin-bottom: 4px;
}

.book-card-status {
  font-size: 14px;
  color: #666;
}

.profile-text {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
  color: rgb(121, 126, 126);
}


.profile-text-blue {
  color: rgb(14, 149, 166);
}